#sider {
    background-image: url('https://imgs.search.brave.com/CJt-KQeDK2fVDfP33E62ERRpfF-ckJWuW7SLQQkFTwg/rs:fit:700:465:1/g:ce/aHR0cDovL3d3dy5j/YW5hZGlhbnJldmll/d2VyLmNvbS9zdG9y/YWdlL1VuaXZlcnNp/dHktV2F0ZXJsb28t/RGlnaXRhbC1NZWRp/YUxhYi0wMS5qcGc_/X19TUVVBUkVTUEFD/RV9DQUNIRVZFUlNJ/T049MTUyMzA2NzEx/Nzk4NA');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    padding: 113px;
}

#sider > input {
    overflow: visible;
    border-radius: 50px;
    border: 1px;
    font-size: 18pt;
    background-image: url('https://res.cloudinary.com/silenceiv/image/upload/v1616775441/search-icon_i5dy7o.png');
    background-repeat: no-repeat;
    height: 55px;
    padding-left: 68px;
    background-position: left;
    background-size: 31px;
    background-position-x: 17px;
}